<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>cs50coin</title>

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <link href="static/styles-index.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="container">
                <h2></h2>
                <nav>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </nav>
            </div>
        </header>

        <main>
            <section class="banner">
                <div class="container">
                    <h1>
                        cs50coin<br class="hide-mob" />
                        <span>Blockchain</span>
                    </h1>

                    <a href="/register" class="button"> GET STARTED NOW</a>
                </div>
            </section>
        </main>
    </body>
</html>
