<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <link href="/static/styles.css" rel="stylesheet" />

        <title>Paco's App: Login</title>

        <style>
            .form-control:focus {
                border-color: #a51c30;
                box-shadow: 0px 0px 5px #a51c30;
            }
        </style>
    </head>

    <body>
        {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            <section class="vh-100" style="background-color: #fff">
                <div class="container h-100">
                    <div
                        class="row d-flex justify-content-center align-items-center h-100"
                    >
                        <div class="col-lg-12 col-xl-11">
                            <div
                                class="card text-black"
                                style="border-radius: 25px"
                            >
                                <div class="card-body p-md-5">
                                    <div class="row justify-content-center">
                                        <div
                                            class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"
                                        >
                                            <p
                                                class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"
                                            >
                                                Sign in
                                            </p>

                                            <form
                                                class="mx-1 mx-md-4"
                                                action="/login"
                                                method="post"
                                            >
                                                <div
                                                    class="d-flex flex-row align-items-center mb-4"
                                                >
                                                    <div
                                                        class="form-outline flex-fill mb-0"
                                                    >
                                                        <input
                                                            required
                                                            autocomplete="off"
                                                            autofocus
                                                            type="text"
                                                            id="form3Example3c"
                                                            name="username"
                                                            class="form-control"
                                                        />
                                                        <label
                                                            class="form-label"
                                                            for="form3Example3c"
                                                            >Username</label
                                                        >
                                                    </div>
                                                </div>

                                                <div
                                                    class="d-flex flex-row align-items-center mb-4"
                                                >
                                                    <div
                                                        class="form-outline flex-fill mb-0"
                                                    >
                                                        <input
                                                            required
                                                            type="password"
                                                            id="form3Example4c"
                                                            name="password"
                                                            class="form-control"
                                                        />
                                                        <label
                                                            class="form-label"
                                                            for="form3Example4c"
                                                            >Password</label
                                                        >
                                                    </div>
                                                </div>

                                                <div
                                                    class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                                                >
                                                    <button
                                                        style="
                                                            background-color: #a51c30;
                                                            border-color: #a51c30;
                                                        "
                                                        type="submit"
                                                        class="btn btn-primary btn-lg"
                                                    >
                                                        Log in
                                                    </button>
                                                </div>
                                            </form>

                                            <div>
                                                <a
                                                    style="color: #a51c30"
                                                    href="/register"
                                                >
                                                    Don't have an account?
                                                    Register</a
                                                >
                                            </div>

                                            <div style="margin-top: 25px">
                                                <a
                                                    style="color: #a51c30"
                                                    href="/"
                                                >
                                                    Homepage</a
                                                >
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                                        >
                                            <img
                                                src="static/duck2.webp"
                                                class="img-fluid"
                                                alt="Sample image"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script
            crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        ></script>
    </body>
</html>
